.board {
    width: 610px;
    height: 480px;
    position: absolute;
    background-color: #bba774fc;
    box-sizing: border-box;
    border: 9px solid black;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
  }
 .left-bin {
    position: relative;
   
    left: 15px;
    top: 0px;
  }
  .right-bin {
    position: relative;
    left: 330px;
    top: -388px;
  }
 .arrow-down {
    width: 0px;
    height: px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 195px solid rgb(111, 66, 34);
    border-bottom: 0px solid;
    display: inline;
    float: left;
  } 
  .left-bin .bottom-row {
    clear: left;
  }
  
  .right-bin .top-row {
    clear: left;
  }
  
  .right-bin .bottom-row {
    clear: left;
  }
  .bottom-row {
    position: relative;
    top: 72px;
  }
  .arrow-up {
    width: 0px;
    height: 0px;
    border-top: 0px solid;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 195px solid rgb(59, 27, 5);
    display: inline;
    float: left;
  } 
  .arrow-up.odd {
    border-bottom: 195px solid rgb(111, 66, 34);
  }
  .arrow-down.even {
    border-top: 195px solid rgb(59, 27, 5);
  }
  




  .middle-bar {
    width: 20px;
    height: 465px;
    padding: 5px;
    background-color: black;
    position: absolute;
    left: 280px;
    top: 0px;
    
  }






  .dice-container {
    position: absolute;
    width: 200px;
    top: 347px; 
    left: 350px; 
    transform: translateY(-50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .diceBtn{
    font-size: x-small; 
    /* background-color: #0a415eab;  */
    /* background-color: #e62c2cab;  */
    color: white; padding: 5px 8px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-bottom: 5px;
  }



/* to red line  */
  .red-button {
    border: 10px solid red;
    /* padding: 10px;  */
  }