
<!-- <div
  style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; color: white; text-align: center;">
  <h1 style="font-size: 36px; margin-bottom: 20px;">Welcome</h1>

  <button
    style="margin-bottom: 10px; text-decoration: none; color: black; padding: 8px 20px; border: 1px solid white; border-radius: 4px;"
    (click)="getRegister()">Register</button>

  <button style="text-decoration: none; color: black; padding: 8px 20px; border: 1px solid white; border-radius: 4px;"
    (click)="getLogin()">Login</button>
  <br />

  <div *ngIf="btnLogin==true">
    <app-login-user></app-login-user>
  </div>
  <div *ngIf="btnRegister==true">
    <app-register-user></app-register-user>
  </div>
</div> -->


<h1 style="font-size: 50px; margin-bottom: 20px;align-items: center;justify-content: center;color: white; text-align:center;">Welcome</h1>
<div>
  <app-login-user></app-login-user>
</div>

<!-- <input type="text" placeholder="say something111..."  appAutoFocusDirective [autoFocus]="lll1" > -->
<!-- <input type="text" placeholder="say something222..." appAutoFocusDirective > -->

<!-- <div tabindex="0" style="background-color: red;" appAutoFocusDirective [autoFocus]="lll1">dsf</div>

<div tabindex="-1" style="background-color: red;" appAutoFocusDirective [autoFocus]="lll2">dsf</div>
<div tabindex="2" style="background-color: red;" appAutoFocusDirective [autoFocus]="lll3">dsf</div> -->

<!-- <div tabindex="1" style="background-color: red;" >dsf</div>

<div tabindex="2" style="background-color: green;"  >dsf</div>
<div tabindex="3" style="background-color: yellow;"  >dsf</div> -->
<!-- <button (click)="lll1==false && lll2==true">click</button> -->


<!--  
<input type="text" id="myText" value="A text field">
<input type="text" id="myText2" value="A text field">
<script>
  window.onfocus= function(){
    document.getElementById("myText2").removeAttributeNode("value");
  }
  window.onload = function() {
  document.getElementById("myText").focus();
}
</script> -->
<!-- <div  id="1" style="background-color: green;"  >dsf</div>
<div id="2" style="background-color: yellow;"  >dsf</div>

<script>
 
  window.onfocus = function() {
  document.getElementById("1").focus();
}
</script>  -->
